    <div class="grid mt-5" style="width: 100%">
        <div class="col ml-4 text-center flex align-items-center justify-content-center" >
            <h1 class="base_font">
                Szuper futárjaink már holnapra kiszállítják a rendelt áruit!
            </h1>
        </div>
        <div class="col ml-4 flex align-items-center justify-content-center" >
            <p-timeline [value]="events">
                <ng-template pTemplate="content" let-event>
                    <small class="p-text-secondary">{{ event.date }}</small>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    <label>{{ event.status }}</label>
                </ng-template>
            </p-timeline>
        </div>
        <div class="col ml-4 text-left flex align-items-center justify-content-center" >
            <img src="/assets/layout/advertising/future_post.png" style="width: 350px" alt="future_post" >
        </div>
    </div>
