
            <div class="grid" >
                <div class="col" >
                    <h1 class="money_text" >JOGI NYILATKOZAT</h1>
                </div>
            </div>

            <p>
                <strong>
                    Szerzői és egyéb jogvédelem
                </strong>
            </p>

            <p>
                A baseshop.hu honlapon (a továbbiakban: honlap) megjelenő teljes tartalomhoz (a továbbiakban: tartalom) fűződő szerzői jogok, továbbá a tartalomhoz fűződő egyéb jogvédelem a BaseShop Kft. (a továbbiakban együtt: Jogtulajdonos) illeti meg. A honlapon megjelenő teljes tartalomra vonatkozóan a Jogtulajdonos minden jogát fenntartja! Különösen tilos a tartalmat vagy annak bármely részét a Jogtulajdonos előzetes, írásbeli engedélye nélkül közölni, terjeszteni, nyilvánosságra hozni (publikálni), nyilvánossághoz közvetíteni illetve hozzáférhetővé tenni, reprodukálni, módosítani (megváltoztatni, adaptálni), átdolgozni, feldolgozni, lefordítani, számítástechnikai adatrendszerben, illetve adathordozón tárolni, illetve bármilyen egyéb módon jogosulatlanul felhasználni, stb.
            </p>

            <p>
                <strong>
                    Felelősségkorlátozás
                </strong>
            </p>

            <p>
                A honlapon szereplő képek, továbbá a honlapon megjelenített animációkban, filmekben, videoanyagban stb. szereplő képek, jelenetek csak illusztrációk, ezért előfordulhat, hogy az ismertetett termékkel nem minden részletükben azonosak; az eltérésekből eredő minden következményért a BaseShop Kft. felelősségét kizárja.
            </p>

            <p>
                A honlapon ismertetett termékek igénybevehetőségének feltétele, hogy az igénylő esetileg megfeleljen a termék kínálója konkrét szerződéses feltételeinek és az egyéb vonatkozó jogszabályi előírásoknak. A BaseShop Kft. nem vállal felelősséget azért, hogy a honlapon ismertetett terméket a termék igénylője igénybe tudja-e venni, illetve azért, hogy azt milyen feltételekkel veszi igénybe.
            </p>

            <p>
                <strong>
                    Adatvédelem
                </strong>
            </p>

            <p>Adatvédelmi tájékoztatónkat <a href="http://www.baseshop.hu/tajekoztato/adatkezeles" target="_blank" >ide</a> kattintva olvashatja el.</p>

            <p>
                <strong>
                    Marketing tevékenység
                </strong>
            </p>

            <p>
                A gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi XLVIII. törvény (a továbbiakban: Reklámtv.) és az EU 2016/679 Rendelete a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet, General Data Protection Regulation, röviden GDPR) rendelkezéseinek megfelelően, a BaseShop Kft. közvetlen megkeresés módszerével, így különösen elektronikus levelezés vagy azzal egyenértékű más egyéni kommunikációs eszköz útján abban az esetben küld reklámot a felhasználónak, amennyiben ahhoz a felhasználó előzetesen egyértelműen és kifejezetten hozzájárult. A BaseShop Kft. felhívja a felhasználó figyelmét, hogy a hozzájárulás önkéntes.
            </p>

            <p>
                A BaseShop Kft. a hozzájáruló nyilatkozatot tevő felhasználó – jelen nyilatkozat fenti Adatkezelés címe alatt meghatározott – személyes adatairól nyilvántartást (a továbbiakban: Nyilvántartás) vezet. A Nyilvántartásban rögzített adatokat a Reklámtv. és a GDPR rendelkezéseinek megfelelően, a felhasználó hozzájáruló nyilatkozata visszavonásáig kezeli.
            </p>

            <p>
                A felhasználó hozzájáruló nyilatkozatát bármikor korlátozás és indokolás nélkül, ingyenesen visszavonhatja. Ebben az esetben felhasználó adatait a BaseShop Kft. a Nyilvántartásból haladéktalanul törli, és részére reklámot a továbbiakban nem közöl. A felhasználó a visszavonó nyilatkozatát – nyilatkozatot tevő személy egyértelmű azonosíthatóságának biztosításával – mind postai úton, mind pedig elektronikus levél útján megteheti a jelen nyilatkozatban alább rögzített elérhetőségeken.
            </p>

            <p>
                A BaseShop Kft. fenntartja magának a jogot a fenti jogi nyilatkozat belátása szerint, tetszőleges időpontban történő módosítására, változtatására, mely esetben a módosított jogi nyilatkozatot a honlapon teszi közzé.
            </p>

            <p>
                Amennyiben a fenti nyilatkozattal kapcsolatban bármilyen további kérdése van, kérjük, írja meg nekünk, és kollégánk megválaszolja kérdését.
            </p>

            <p>
                <strong>
                    A BaseShop Kft. elérhetősége
                </strong>
            </p>

            <p>
                <strong>Székhely:</strong> 6400 Kiskunhalas
            </p>

            <p>
                <strong>Levelezési cím:</strong> 6400 Kiskunhalas
            </p>

            <p>
                <strong>E-mail: </strong> zsolt.olah&#64;baseshop.hu
            </p>

            <p>
                <strong>Telefon: </strong> +36 70 123 4567 (panasz kezelés)
            </p>
