            <div class="grid" >
                <div class="col" >
                    <h1 class="money_text" >IMPRESSZUM</h1>
                </div>
            </div>

            <p>
                <strong>
                    Szolgáltató: BaseShop Kft.
                </strong>
            </p>

            <p>
                <strong>Cégjegyzékszáma: </strong>
                12-34-5678910; Fővárosi Törvényszék Cégbírósága
            </p>

            <p>
                <strong>Adószáma: </strong>
                12345678-9-10
            </p>

            <p>
                <strong>Székhelye: </strong>
                6400 Kiskunhalas
            </p>

            <p>
                <strong>Iroda: </strong>
                6400 Kiskunhalas
            </p>

            <div class="mt-4" >
                <p>
                    <strong>
                        Elérhetőségei:
                    </strong>
                </p>
                <p>
                    E-mail: zsolt.olah&#64;baseshop.hu
                </p>
                <p>
                    Telefon: +36 70 123 4567
                </p>
                <p>
                    Domain regisztráló: BaseShop Kft..
                </p>
                <p>
                    Weboldal üzemeltetője és tárhelyszolgáltatója: Firebase from Google
                </p>
            </div>
