<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>

            <div class="justify-content-center mt-8 p-4">
                <div class="landing-wrapper overflow-hidden">
                    <div class="mx-0 my-4">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>


    <app-config></app-config>
    <div class="layout-mask"></div>
</div>
<app-footer></app-footer>

