<p-table [value]="opinions" [tableStyle]="{ 'min-width': '70rem' }"
         #dt1
         dataKey="id"
         [rows]="10"
         [showCurrentPageReport]="true"
         [rowsPerPageOptions]="[10, 25, 50]"
         [loading]="loading"
         [paginator]="true"
         currentPageReportTemplate="A jelenelgi oldalon lévő vélemények száma: {last}"
         [globalFilterFields]="['productName', 'userName', 'opinion', 'value']">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <button pButton class="p-button-outlined mr-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <p-button (onClick)="refresh()" [outlined]="true" icon="pi pi-refresh"></p-button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Keresés..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="productName" style="width:20%">Termék neve <p-sortIcon field="productName"></p-sortIcon> <p-columnFilter type="text" field="productName" display="menu"></p-columnFilter></th>
            <th pSortableColumn="userName" style="width:20%">Felhasználó neve <p-sortIcon field="userName"></p-sortIcon> <p-columnFilter type="text" field="userName" display="menu"></p-columnFilter></th>
            <th pSortableColumn="opinion" style="width:20%">Vélemény <p-sortIcon field="opinion"></p-sortIcon> <p-columnFilter type="text" field="opinion" display="menu"></p-columnFilter></th>
            <th pSortableColumn="value" style="width:20%">Érték <p-sortIcon field="value"></p-sortIcon> <p-columnFilter type="text" field="value" display="menu"></p-columnFilter></th>
            <th>Kezelés</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.productName }}</td>
            <td>{{ product.userName }}</td>
            <td>{{ product.opinion }}</td>
            <td><p-rating [(ngModel)]="product.value" [cancel]="false" [readonly]="true"></p-rating></td>
            <td><p-button icon="pi pi-trash" pTooltip="{{product.userName}} véleményének törlése"
                          [rounded]="true" severity="danger" tooltipPosition="left" (onClick)="confirmDelete($event,product.opinionId,product.productName,product.userName)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmPopup></p-confirmPopup>
