<div class="surface-section py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-900 font-bold text-5xl mb-3">Köszönjük, hogy megtisztelt minket a rendelésével</div>
        <div class="text-700 text-2xl mb-5">Sikeresen megkaptuk a rendelést és most feldolgozzuk, rendeléseit a "Fiókom" menüpont alatt tekintheti meg</div>
        <div class="text-blue-600 font-bold mb-3">Remélem hamarosan látjuk még egymást!</div>
        <button pButton pRipple label="Vissza a főoldalra"  icon="pi pi-arrow-left" routerLink="/" class="font-bold px-5 py-3 p-button-raised p-button-rounded p-button-info white-space-nowrap"></button>
    </div>
</div>
