
            <div class="grid" >
                <div class="col" >
                    <h1 class="money_text" >Adatkezelési tájékoztató</h1>
                </div>
            </div>
            <p>
                A tájékoztató az EU 2016/679 Rendelete a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet, General Data Protection Regulation, röviden GDPR) elsődleges értelmezése alapján készült.
            </p>
            <p>
                A vállalkozási tevékenység végzése során a személyes adatok kezelését jogszerűen és tisztességesen, valamint az érintett számára átlátható módon kell végezni. Amennyiben az adatkezelővel kapcsolatba került azonosított vagy azonosítható természetes személyre („érintett”) vonatkozó bármely információ az adatkezelő birtokába kerül, úgy az adatkezelésre a GDPR szabályait kell alkalmazni a helyi tagállami jogszabályok figyelembevételével.
            </p>
            <p>
                Az érintett jogosult, hogy hozzáférjen a rá vonatkozóan gyűjtött adatokhoz, valamint arra, hogy egyszerűen és ésszerű időközönként, az adatkezelés jogszerűségének megállapítása és ellenőrzése érdekében gyakorolja e jogát.
            </p>
            <p>
                Az érintett jogosult arra, hogy kérhesse a rá vonatkozó személyes adatok helyesbítését és megilleti őt az „elfeledtetéshez való jog”, ha a szóban forgó adatok megőrzése sérti e rendeletet vagy az olyan uniós vagy tagállami jogot, amelynek hatálya az adatkezelőre kiterjed. Az érintett jogosult különösen arra, hogy személyes adatait töröljék és a továbbiakban ne kezeljék, ha a személyes adatok gyűjtése vagy más módon való kezelése az adatkezelés eredeti céljaival összefüggésben már nem szükséges, vagy ha az érintettek visszavonták az adatok kezeléshez adott hozzájárulásukat, vagy ha személyes adataik kezelése egyéb szempontból nem felel meg e rendeletnek.
            </p>
            <p>
                <strong>I. Adatkezelő megnevezése, elérhetőségei</strong>
            </p>
            <p>
                Jelen tájékoztató célja a BaseShop Kft. (6400 Kiskunhalas) gazdasági társaság adatkezelési folyamatainak bemutatása és az érintettek tájékoztatása.
            </p>
            <p>
                Adatkezelővel a kapcsolatot az érintettek felvehetik postai úton keresztül levélben (levelezési cím: 6400 Kiskunhalas) ; telefonon: +36 70 123 4567; valamint e-mailben: zsolt.olah&#64;baseshop.hu
            </p>
            <p>
                <strong>II. Adatkezelő tevékenységének bemutatása</strong>
            </p>
            <p>
                Az adatkezelő fő gazdasági tevékenységét tekintve a baseshop.hu weboldal üzemeltetőjeként pénzügyi termékek, szolgáltatások közvetítésével foglalkozik elsősorban természetes személyek irányába, ezért a fő üzleti kapcsolatai magánszemélyekkel, mint az adatkezelés érintettjeivel állnak fent. Ennek megfelelően természetes személyeknek az adatait kezeli a tájékoztatóban foglaltak alapján.
            </p>
            <p>
                <strong>
                    II/1. Adatkezelő szervezetén kívülálló természetes személyekhez kapcsolódó adatkezeléssel járó tevékenysége
                </strong>
            </p>
            <p>
                <strong>
                    a) Érintett hozzájárulásán alapuló adatkezelések
                </strong>
            </p>
            <p>
                Az adatkezelő saját weboldalt és Facebook közösségi média oldalt üzemeltet. Az oldalak látogatása az érintettek szabad elhatározásából történik. Az adatkezelő online megjelenését a gazdasági társaság népszerűsítésére használja, az oldal-látogatók adatait adatbázis felépítése céljából gyűjti, re-marketing vagy profilalkotás céljából elemzi, és tárolja. Az ilyen célú adatkezelés elsődleges jogalapja az érintett hozzájárulása.
            </p>
            <p>
                Az adatkezelővel történő kapcsolatfelvétel az érintett természetes személy, vagy jogi személy természetes személy képviselője vagy kapcsolattartója által <strong>az érintett hozzájárulásával</strong> dokumentáltan történik.
            </p>
            <p>
                Az online megadott adatokat, amelyek a kapcsolatfelvételhez, érdeklődéshez, későbbi szerződés előkészítéséhez szükségesek az adatkezelő célhoz kötötten saját szervezetén belül kezeli, ezeket külső ügynökség felé nem továbbítja.
            </p>
            <p>
                <strong>
                    b) Szerződéses ügyletekhez kapcsolódó adatkezelések
                </strong>
            </p>
            <p>
                Az adatkezelő a vonatkozó jogszabályban foglalt célhoz kötöttség alapelvének megfelelően tájékoztatja az érintettet, hogy az adatkezelő az érintett kapcsán a szerződés megkötéséhez, tartalmának meghatározásához, módosításához, teljesítéséhez, a számlázáshoz, valamint a szerződéssel kapcsolatos követelések érvényesítéséhez és kötelezettségek teljesítéséhez, továbbá az adatkezelőre vonatkozó jogi kötelezettségek teljesítéséhez szükséges és elégséges személyes adatokat a GDPR 6. cikk (1) bekezdés b) pontja szerint, <strong>szerződés teljesítése jogalapján</strong> kezeli.
            </p>
            <p>
                A társaság a természetes személyekkel kötött szerződésekhez a magánszemélyek adatait a szerződés előkészítése során átveszi, egyezteti, majd a szerződés teljesítése során felhasználja, ehhez adatbázisában azokat tárolja.
            </p>
            <p>
                A társaság jogi személlyel kötött szerződés során a szerződés megkötéséhez és teljesítéséhez kapcsolódóan a jogi személy természetes személy képviselőjének és kapcsolattartójának adatait kezeli.
            </p>
            <p>
                A jogi személy képviselőjének felelősségi körébe tartozik, az általa más természetes személyekről (kapcsolattartókról) megadott vagy hozzáférhetővé tett személyes adat kezeléséhez az érintett természetes személy hozzájárulásának beszerzése.
            </p>
            <p>
                <strong>
                    c) Adatkezelő jogos érdekéhez fűződő üzleti megkeresések
                </strong>
            </p>
            <p>
                Az adatkezelés jogalapja, az érintett megfelelő tájékoztatása mellett <strong>az adatkezelő jogos érdeke</strong> GDPR 6. cikk (1) bekezdés f) pontja.
            </p>
            <p>
                Az adatkezelés az adatkezelő vagy egy harmadik fél jogos érdekeinek érvényesítéséhez szükséges, kivéve, ha ezen érdekekkel szemben elsőbbséget élveznek az érintett olyan érdekei vagy alapvető jogai és szabadságai, amelyek személyes adatok védelmét teszik szükségessé, különösen, ha az érintett gyermek.
            </p>
            <p>
                Az adatkezelő a rendelkezésére álló nyilvános céginformációs adatbázisok felhasználásával, piackutatással kiválasztott potenciális üzleti partnerek, valamint meglévő ügyfelek részére termékei, szolgáltatásai ajánlása céljából megkereső leveleket vagy e-maileket küld.
            </p>
            <p>
                Az ehhez kapcsolódó adatkezelés célhoz kötött, az adattakarékosság elvét betartva, nem ismétlődően, nem automatizált döntéshozatal szerint, az adatkezelő vezetői által kontrollálva történik.
            </p>
            <p>
                <strong>
                    II/2. Adatkezelő szervezeten belüli természetes személyekhez (munkavállalókhoz) kapcsolódó adatkezeléssel járó tevékenysége
                </strong>
            </p>
            <p>
                Munkaerő kiválasztás során az érintettek köre, azon álláslehetőségek iránt érdeklődő természetes személyek (pályázók), akik önéletrajzuk beküldésével önkéntes hozzájárulásukat adják, hogy a társaság személyes adataikat kezelje.
            </p>
            <p>
                A társaság anonim álláshirdetést nem ad fel.
            </p>
            <p>
                Adatkezelés jogalapja kapcsolatfelvételig az érintett hozzájárulása, a munkáltató válaszától, az adatkezelés a szerződés megkötését megelőzően, az érintett kérésére történő lépések megtételéhez szükséges.
            </p>
            <p>
                Adatkezelés időtartama elutasított pályázók esetén a pozíció betöltéséig, amennyiben az érintett úgy rendelkezik a pályázatát benyújtástól számított 1 évig további jelentkezésekhez fenntartják.
            </p>
            <p>
                <strong>
                    Az alkalmazotti állományba felvett munkavállalókhoz kapcsolódó adatkezelések:
                </strong>
            </p>
            <p>
                A munkaügyi adatbázis fenntartása a munkaszerződésekben foglaltak alapján történik, az adatkezelő tevékenysége során jogi kötelezettségeinek tesz eleget a bevallások benyújtásával, a munkaviszony bejelentésével, az adatszolgáltatások megtételével.
            </p>
            <p>
                Az adatkezelés időtartama az alkalmazott munkavállalóra vonatkozó nyugdíjkorhatár betöltéséig tart, arra tekintettel, hogy az időközben munkáltatói állományból kikerült munkavállalókra vonatkozó adatokat elkülönített módon, a biztonsági feltételek betartásával kell megőrizni.
            </p>
            <p>
                A munkavállalók szerepelnek az adatkezelő, munkáltató által készített fényképfelvételeken, amelyeket weboldalán vagy közösségi média oldalán jelenít meg. Ez az adatkezelés az adatkezelő vagy egy harmadik fél jogos érdekeinek érvényesítéséhez szükséges, kivéve, ha ezen érdekekkel szemben elsőbbséget élveznek az érintett olyan érdekei vagy alapvető jogai és szabadságai, amelyek személyes adatok védelmét teszik szükségessé, különösen, ha az érintett gyermek.
            </p>
            <p>
                A munkáltató minden érintett munkavállalót nyilatkoztat, a munkavállalókra vonatkozó adatkezelések elveinek megismeréséről, a munkavállalókat jogaikról tájékoztatja, ezek ismeretében a képfelvételek rögzítése, illetve közzététele a munkavállalók hozzájárulásával történhet, amely hozzájárulás a későbbiekben visszavonható ez esetben a képfelvétel eltávolításra kerül.
            </p>
            <p>
                <strong>
                    III. Adatkezelésben résztvevő külső partnerek
                </strong>
            </p>
            <p>
                A külső partnerek státuszának azonosítására használt definíciók a következők.
            </p>
            <p>
                <strong>adatfeldolgozás:</strong> az adatkezelési műveletekhez kapcsolódó technikai feladatok elvégzése, függetlenül a műveletek végrehajtásához alkalmazott módszertől és eszköztől, valamint az alkalmazás helyétől, feltéve, hogy a technikai feladatot az adatokon végzik.
            </p>
            <p>
                <strong>adatfeldolgozó:</strong> az a természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, aki, vagy amely az adatkezelővel kötött szerződése alapján – beleértve a jogszabály rendelkezése alapján történő szerződéskötést is – adatok feldolgozását végzi; az adatkezelő nevében személyes adatokat kezel.
            </p>
            <p>
                <strong>harmadik személy:</strong> olyan természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki, vagy amely nem azonos az érintettel, az Adatkezelővel vagy az Adatfeldolgozóval, vagy azokkal a személyekkel, akik az Adatkezelő vagy Adatfeldolgozó közvetlen irányítása alatt a személyes adatok kezelésére felhatalmazást kaptak.
            </p>
            <p>
                <strong>adattovábbítás:</strong> az adat meghatározott harmadik személy számára történő hozzáférhetővé tétele.
            </p>
            <p>
                <strong>címzett:</strong> az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, akivel vagy amellyel a személyes adatot közlik, függetlenül attól, hogy harmadik fél-e.
            </p>
            <p>
                Adatkezelő a fentiekben definiált partnereiről, illetve a feléjük történő adatátadás, adattovábbítás eseteiről külön partnerenként szerződéssel rendelkezik, amelyekben a kötelezettségek, felelősségek egyértelműen meghatározottak. Az adatkezelő folyamataiban résztvevő partnerek nyilvántartását folyamatosan frissíti a szerződéseinek megfelelően, adatcsere, adattovábbítás kizárólag írásbeli megállapodásban rögzített eljárási rend szerint, szerződéses partner részére történik.
            </p>
            <p>
                <strong>IV. Érintettek tájékoztatása, jogai</strong>
            </p>
            <p>
                <strong>Hozzáférési jog</strong>
            </p>
            <p>
                Az érintett jogosult arra, hogy kérésére az adatkezelőtől visszajelzést kapjon arra vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e. Az érintett kérésére az adatkezelő rendelkezésére bocsátja az általa kezelt személyes adatai másolatát és egyidejűleg tájékoztatja az általános adatvédelmi rendelet 15. cikkében meghatározott információkról (így például: adatkezelés célja, kezelt adatok kategóriái, azon címzettek kategóriái, akivel az adatok közlésre kerülnek, az adatkezelés időtartama).
            </p>
            <p>
                <strong>Helyesbítéshez való jog</strong>
            </p>
            <p>
                Az adatkezelő az érintett kérésére késedelem nélkül helyesbíti az érintettre vonatkozó, általa kezelt pontatlan személyes adatokat.
            </p>
            <p>
                <strong>A törléshez és az elfeledtetéshez való jog</strong>
            </p>
            <p>
                Az adatkezelő az általános adatvédelmi rendelet 17. cikkében, az ott meghatározott esetekben az érintett kérésére, illetve külön kérés nélkül is, késedelem nélkül törli az érintett általa kezelt adatait. Amennyiben az érintett az adatkezelő által nyilvánosságra hozott személyes adatai törlését kéri, akkor az adatkezelő megtesz minden ésszerűen elvárható lépést annak érdekében, hogy tájékoztassa az érintett adatait kezelő további adatkezelőket arról, hogy az érintett kérte az adatai törlését.
            </p>
            <p>
                <strong>Adatkezelés korlátozásához való jog</strong>
            </p>
            <p>
                Az adatkezelő az érintett kérésére az általános adatvédelmi rendelet 18. cikkében meghatározott rendelkezésekre figyelemmel korlátozottan kezeli az érintett személyes adatait, amennyiben az adatkezelés az érintett kérésére korlátozás alá esik. Az ilyen személyes adatokat az adatkezelő a tárolás kivételével csak az érintett hozzájárulásával, vagy jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez, vagy más természetes vagy jogi személy jogainak védelme érdekében, vagy fontos közérdekből kezeli.
            </p>
            <p>
                <strong>
                    Adathordozhatósághoz való jog
                </strong>
            </p>
            <p>
                Az általános adatvédelmi rendelet 20. cikkével összhangban az adatkezelő, a szerződésen vagy hozzájáruláson alapuló automatizált módon történő adatkezelés esetén, az érintett kérésére, az érintettre vonatkozó, és korábban általa rendelkezésre bocsátott személyes adatait tagolt, széles körben használt, géppel olvasható formátumban kiadja az érintett részére illetve az érintett kérésére, ha az technikailag megvalósítható, az ilyen adatokat egy másik érintett által megjelölt, egyértelműen azonosítható adatkezelőnek közvetlenül továbbítja.
            </p>
            <p>
                <strong>
                    Tiltakozáshoz való jog
                </strong>
            </p>
            <p>
                Amennyiben az adatkezelő jogos érdek alapján kezeli az érintett személyes adatát, az érintett jogosult arra, hogy a saját helyzetével kapcsolatos okokból az általános adatvédelmi rendelet 21. cikke szerinti esetben bármikor tiltakozzon személyes adatainak kezelése ellen. Ebben az esetben az adatkezelő a személyes adatokat nem kezelheti tovább, csak jogszabályban meghatározott kivételes esetben.
            </p>
            <p>
                <strong>Automatizált döntéshozatallal kapcsolatban gyakorolható jogok</strong>
            </p>
            <p>
                Az automatikus döntéshozatallal kapcsolatban az érintett jogosult emberi beavatkozást kérni az adatkezelőtől telefonon, e-mail útján, kifejtheti, álláspontját személyesen vagy kifogást nyújthat be a fenti lehetőségeken kívül a gazdasági társaság székhelyére címzett levélben. Az érintett joggyakorlásra vonatkozó nyilatkozata az adott adatkezelés egyértelmű megjelölése mellett érvényes.
            </p>
            <p>
                <strong>V. Panaszkezelés, Felügyeleti Hatóság</strong>
            </p>
            <p>
                Amennyiben az érintett az Adatkezelőnek a meghozott döntésével nem ért egyet, az ellen – annak közlésétől számított 30 napon belül – bírósághoz fordulhat.
            </p>
            <p>
                Jogorvoslati lehetőséggel, panasszal a Nemzeti Adatvédelmi és Információszabadság Hatóságnál lehet élni:
            </p>
            <p>
                Név: Nemzeti Adatvédelmi és Információszabadság Hatóság
            </p>
            <p>
                E-mail: ugyfelszolgalat&#64;naih.hu
            </p>
            <p>
                Postacím: 1530 Budapest, Pf.: 5.
            </p>
            <p>
                Cím: 1125 Budapest, Szilágyi Erzsébet fasor 22/C.
            </p>
            <p>
                Telefon: +36 (1) 391-1400
            </p>
            <p>
                Honlap: http://www.naih.hu
            </p>
            <p>
                <strong>
                    VI. Tájékoztató jogi háttere
                </strong>
            </p>
            <p>
                A szabályzat az alábbi hatályos jogszabályok alapján került kialakításra:
            </p>
            <ul>
                <li>2016/679/EU Rendelet (2016. április 27.) a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK Rendelet hatályon kívül helyezéséről</li>
                <li>2011. évi CXII törvény az információs önrendelkezési jogról és az információszabadságról</li>
                <li>2013. évi V. tv. a Polgári Törvénykönyvről</li>
                <li>2012. évi I. tv a Munka Törvénykönyvéről</li>
                <li>2008. évi XLVIII. tv. a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól</li>
                <li>2001. évi CVIII. törvény az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről</li>
                <li>2003. évi C. törvény az elektronikus hírközlésről</li>
                <li>1995. évi CXIX. törvény a kutatás és a közvetlen üzletszerzés célját szolgáló névés lakcímadatok kezeléséről</li>
            </ul>
            <p>Az adatkezelő alkalmazásában 2024. május 3.</p>
