<div class="grid" >
    <div class="col" >
        <p-card>
            <div class="grid" >
                <div class="col text-center" >
                    <label class="text-2xl">Kosaram <i class="pi pi-shopping-cart ml-2 text-2xl" ></i></label>
                </div>
            </div>
            <div *ngIf="!cartDetailsNull" class="grid" >
                <div class="col text-center" >
                    <label>A termékek mennyiségét az összesítésnél tudja növelni</label>
                </div>
            </div>
            <div *ngIf="cartDetailsNull" class="grid" >
                <div class="col text-center mt-4" >
                    <h5>A kosara jelenleg üres.</h5>
                </div>
            </div>
            <base-loading *ngIf="loading" ></base-loading>
            <p-scrollPanel *ngIf="!cartDetailsNull && !loading" [style]="{ width: '100%', height: '400px' }">
                <p-dataView #dv [value]="cartDetails">
                    <ng-template pTemplate="list" let-products>
                        <div class="grid grid-nogutter">
                            <div class="col-12" *ngFor="let item of products; let first = first">
                                <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                    <div class="md:w-4rem relative">
                                        <p-button [rounded]="true" (onClick)="delete(item.cartId)" severity="danger" icon="pi pi-times" ></p-button>
                                    </div>
                                    <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                        <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                            <div>
                                                <span class="font-medium text-secondary text-sm">{{ item.product.productCategory}}</span>
                                                <div class="text-lg font-medium text-900 mt-2">{{ item.product.productName }}</div>
                                            </div>
                                            <div class="surface-100 p-1" style="border-radius: 30px">
                                                <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                                    <span class="text-900 font-medium text-sm">RAKTÁRON</span>
                                                    <i class="pi pi-star-fill text-yellow-500"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-column md:align-items-end gap-5">
                                            <span class="text-xl font-semibold text-900">{{ item.product.productDiscountedPrice + ' Ft' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </p-scrollPanel>
        </p-card>
    </div>
</div>
<div class="grid" >
    <div class="col text-center" >
        <p-card>
            <p-button size="large" (onClick)="checkout()" [disabled]="cartDetailsNull" label="Tovább az összesítéshez" icon="pi pi-dollar" severity="success" ></p-button>
        </p-card>
    </div>
</div>
